@page "/usuario"
<div class="row">
    <div class="col-md-10 col-sm-12">
        <div class="form-group mb-12">
            <h6>Filtro de Busca</h6>
            <input type="text" name="nome" id="busca" class="form-control">
        </div>
    </div>

    <div class="col-md-2 mt-4">
        <button class="btn btn-primary" onclick="window.location.href = '/pessoa/formulario'" style="width:100%">
        <i class="bi bi-plus"></i>
            Adicionar
        </button>
    </div>
</div>
<h4>Lista de Usuários</h4>

<div class="table-responsive" id="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data Nasc</th>
                <th>Cidade</th>
                <th>Ativo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/pages/usuario/usuario.js"></script>
}
