@page "/gerar-codigo"

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group mb-12 centered">
                    <h4>Código:</h4>
                    <input type="text" name="nome" class="form-control">
                </div>
                <button type="button" class="btn btn-primary btn-block mb-4">Gerar</button>
            </div>
        </div>
    </div>
</div>
