@page "/abe_apicultor/formulario/{id?}"

<h4>Cadastro de Apicultores</h4>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group mb-12">
                    <label>Nome</label>
                    <input type="text" name="api_nome" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group mb-12">
                    <label>CPF/CNPJ</label>
                    <input type="text" name="api_cpfcnpj" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group mb-12">
                    <label>Telefone</label>
                    <input type="text" name="api_telefone" class="form-control">
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn-danger" onclick="window.location.href='/abe_apicultor'">Cancelar</button>
                <button class="btn btn-success" onclick="salvar();">Salvar</button>
            </div>  
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/pages/abe_apicultor/abe_apicultor-formulario.js"></script>
}
