@page "/codigo-acesso"

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4>Código Acesso:</h4>
                <div class="input-group mb-3">
                    <input type="text" id="codigo-acesso" name="codigo-acesso" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-primary" onclick="gerar(this);"><i class="bi bi-arrow-clockwise"></i> Atualizar Código</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/pages/codigo-acesso/codigo-acesso.js"></script>
}