
@page "/home"

<h5 class="mt-4">Seja Bem Vindo(a) ao AcessoCerto!</h5>
<div class="row">
    <div style="cursor: pointer;" class="col-sm-4" onclick="window.location.href = '/usuario'">
        <div class="card text-white bg-primary text-center pt-2 mb-4">
            <div class="card-body card-title">
                <h1 class="m-b-2"><i class="bi bi-person"></i></h1>
                <h5 class="text-light">Usuários</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-4" onclick="window.location.href = '/nfc'">
        <div class="card text-white bg-primary text-center pt-2 mb-4">
            <div class="card-body card-title">
                <h1 class="m-b-2"><i class="bi bi-broadcast"></i></h1>
                <h5 class="text-light">Gestão de NFC</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-4" onclick="window.location.href = '/cidades'">
        <div class="card text-white bg-primary text-center pt-2 mb-4">
            <div class="card-body card-title">
                <h1 class="m-b-2"><i class="bi bi-building"></i></h1>
                <h5 class="text-light"> Cidades</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-4" onclick="window.location.href = '/codigo-acesso'">
        <div class="card text-white bg-primary text-center stretched-link pt-2 mb-4" href="/">
            <div class="card-body card-title">
                <h1 class="m-b-2"><i class="bi bi-code-slash"></i></h1>
                <h5 class="text-light"> Gerar Código Acesso</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-4" onclick="window.location.href = '/historico-acessos'">
        <div class="card text-white bg-primary text-center stretched-link pt-2 mb-4" href="/">
            <div class="card-body card-title">
                <h1 class="m-b-2"> <i class="bi bi-clock-history"></i></h1>
                <h5 class="text-light"> Históricos de Acessos</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-4">
        <div class="card text-white bg-primary text-center pt-2 mb-4">
            <div class="card-body card-title">
                <h1 class="m-b-2"><i class="bi bi-gear"></i></h1>
                <h5 class="text-light"> Configurações</h5>
            </div>
        </div>
    </div>

</div>