
@page "/home"

<h5 class="mt-4">Seja Bem Vindo(a) a HoneyTrack!</h5>
<h5 class="mt-4" id="label-menu-cadastros"><img src="~/content/certo.png" style="width: 25px; height: 25px;margin-bottom: 5px"> Cadastros:</h5>
<div class="row" id="menus-adm-cadastros" style="display: none">
    <div style="cursor: pointer;" class="col-sm-3" onclick="window.location.href = '/abe_raca'">
        <div class="card text-white bg-primary text-center pt-2 mb-4">
            <div class="card-body card-title">
                <h1 class="m-b-2"><img src="~/content/raca.png" style="width: 50px; height: 50px;"></h1>
                <h5 class="text-light">Raças</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-3" onclick="window.location.href = '/nfc'">
        <div class="card text-white bg-primary text-center pt-2 mb-4">
            <div class="card-body card-title">
                <h1 class="m-b-2"><img src="~/content/colmeia.png" style="width: 50px; height: 50px;"></h1>
                <h5 class="text-light">Colmeias</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-3" onclick="window.location.href = '/cidades'">
        <div class="card text-white bg-primary text-center pt-2 mb-4">
            <div class="card-body card-title">
                <h1 class="m-b-2"><img src="~/content/trabalhador.png" style="width: 50px; height: 50px;"></h1>
                <h5 class="text-light">Apicultores</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-3" onclick="window.location.href = '/codigo-acesso'">
        <div class="card text-white bg-primary text-center stretched-link pt-2 mb-4" href="/">
            <div class="card-body card-title">
                <h1 class="m-b-2"><img src="~/content/apiario.png" style="width: 50px; height: 50px;"></h1>
                <h5 class="text-light">Apiários</h5>
            </div>
        </div>
    </div>
</div>
<h5 class="mt-4" id="label-menu-lancamentos"><img src="~/content/certo.png" style="width: 25px; height: 25px;margin-bottom: 5px"> Lançamentos:</h5>
<div class="row" id="menus-adm-lancamentos" style="display: none">
    <div style="cursor: pointer;" class="col-sm-3" onclick="window.location.href = '/historico-acessos'">
        <div class="card text-white bg-primary text-center stretched-link pt-2 mb-4" href="/">
            <div class="card-body card-title">
                <h1 class="m-b-2"> <img src="~/content/estatisticas.png" style="width: 50px; height: 50px;"></h1>
                <h5 class="text-light">Leituras</h5>
            </div>
        </div>
    </div>
    <div style="cursor: pointer;" class="col-sm-3">
        <div class="card text-white bg-primary text-center pt-2 mb-4">
            <div class="card-body card-title">
                <h1 class="m-b-2"><img src="~/content/inspecoes.png" style="width: 50px; height: 50px;"></h1>
                <h5 class="text-light">Inspeções</h5>
            </div>
        </div>
    </div>
</div>


<div class="text-center text-invest-1 col-12" id="loading">
    <div class="spinner-border text-primary loading" role="status" style="width: 75px; height: 75px; margin: 50px;"></div>
</div>