@page "/nfc/formulario"

<h4>Formulário de NFC</h4>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group mb-12">
                    <label>Token NFC</label>
                    <input type="text" name="nfc" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group mb-12">
                    <label>Usuário</label>
                    <select class="js-example-basic-single" style="width:100%" name="cidadeId" id="cidadeId">
                    </select>
                </div>
            </div>
          
            <div class="col-md-3 col-sm-12">
                <div class="form-group mb-12">
                    <label>Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="1">Ativo</option>
                        <option value="2">Inativo</option>
                    </select>
                </div>
            </div>    
            <div class="col-md-12 text-right">
                <button class="btn btn-danger" onclick="window.location.href='/pessoa'">Cancelar</button>
                <button class="btn btn-success" onclick="salvar();">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/nfc/nfc-formulario.js"></script>
}
